cluster:
  name: monke-eu-central-1-dev

global:
  scrapeInterval: 30s
  scrapeTimeout: 10s

destinations:
  - name: mimir
    type: prometheus
    url: http://mimir-gateway.mimir.svc.cluster.local:80/api/v1/push

  - name: loki
    type: loki
    url: http://loki-gateway.loki.svc.cluster.local/loki/api/v1/push

clusterMetrics:
  enabled: true

clusterEvents:
  enabled: true

podLogs:
  enabled: true

nodeLogs:
  enabled: true

annotationAutodiscovery:
  enabled: true

prometheusOperatorObjects:
  enabled: true

alloy-metrics:
  enabled: true
  alloy:
    mounts:
      varlog: true
    clustering:
      enabled: true

alloy-logs:
  enabled: true
  alloy:
    mounts:
      varlog: true
    clustering:
      enabled: true

alloy-singleton:
  enabled: true
