apiVersion: kargo.akuity.io/v1alpha1
kind: Project
metadata:
  name: reference-service-go
---
apiVersion: kargo.akuity.io/v1alpha1
kind: ProjectConfig
metadata:
  name: reference-service-go
spec:
  promotionPolicies:
    - stageSelector:
        name: dev
      autoPromotionEnabled: true
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: dev
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: reference-service-go
  promotionTemplate:
    spec:
      vars:
        - name: gitopsRepo
          value: https://github.com/monkescience/gitops.git
        - name: workDir
          value: ./repo
        - name: branch
          value: main
      steps:
        - uses: git-clone
          as: clone
          config:
            repoURL: ${{ vars.gitopsRepo }}
            checkout:
              - branch: ${{ vars.branch }}
                path: ${{ vars.workDir }}
        - uses: git-set-yaml
          as: update-chart
          config:
            path: ${{ vars.workDir }}
            file: apps/eu-central-1-dev/reference-service-go.yaml
            jsonPath: $[0].spec.sources[0].targetRevision
            value: '{{ .Freight.Charts.Get "oci://ghcr.io/monkescience/helm-charts/reference-service-go" }}'
        - uses: git-commit
          as: commit
          config:
            path: ${{ vars.workDir }}
            message: 'chore(kargo): promote reference-service-go chart to {{ .Freight.Charts.Get "oci://ghcr.io/monkescience/helm-charts/reference-service-go" }} (dev)'
        - uses: git-push
          config:
            path: ${{ vars.workDir }}
            branch: ${{ vars.branch }}
#  verification:
#    analysisTemplates:
#      - name: smoke-test
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: reference-service-go
spec:
  subscriptions:
    - chart:
        repoURL: oci://ghcr.io/monkescience/helm-charts/reference-service-go
        semverConstraint: '>= 0.0.0-0'
