apiVersion: kargo.akuity.io/v1alpha1
kind: Project
metadata:
  name: reference-service-go
---
apiVersion: kargo.akuity.io/v1alpha1
kind: ProjectConfig
metadata:
  name: reference-service-go
spec:
  promotionPolicies:
    - stageSelector:
        name: dev
      autoPromotionEnabled: true
---
apiVersion: kargo.akuity.io/v1alpha1
kind: PromotionTask
metadata:
  name: promote-reference-service-go
spec:
  vars:
    - name: gitopsRepo
      value: https://github.com/monkescience/gitops.git
    - name: branch
      value: main
    - name: workDir
      value: ./out
    - name: chartFullRef
      value: oci://ghcr.io/monkescience/helm-charts/reference-service-go
  steps:
    - uses: git-clone
      as: clone
      config:
        repoURL: ${{ vars.gitopsRepo }}
        checkout:
          - branch: ${{ vars.branch }}
            path: ${{ vars.workDir }}
    - uses: yaml-update
      as: update-chart-version
      config:
        path: ${{ vars.workDir }}/apps/eu-central-1-dev/reference-service-go.yaml
        updates:
          - key: spec.sources[0].targetRevision
            value: ${{ chartFrom( vars.chartFullRef ).Version }}
    - uses: git-commit
      as: commit
      config:
        path: ${{ vars.workDir }}
        message: "chore(kargo): promote reference-service-go chart to ${{ chartFrom( vars.chartFullRef ).Version }} (${{ ctx.stage }})"
    - uses: git-push
      as: push
      config:
        path: ${{ vars.workDir }}
        branch: ${{ vars.branch }}
    - uses: argocd-update
      as: refresh-argo-apps
      config:
        apps:
          - name: reference-service-go
          - name: reference-service-go-extension
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: dev
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: reference-service-go
      sources:
        direct: true
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote-reference-service-go
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: reference-service-go
spec:
  subscriptions:
    - chart:
        repoURL: oci://ghcr.io/monkescience/helm-charts/reference-service-go
        semverConstraint: '>= 0.0.0-0'
