apiVersion: kargo.akuity.io/v1alpha1
kind: Project
metadata:
  name: reference-service-go
spec:
  promotionPolicies:
    - stage: dev
      autoPromotionEnabled: true
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: dev
spec:
  subscriptions:
    - warehouse: reference-service-go
  promotionMechanisms:
    git:
      - repoURL: https://github.com/monkescience/gitops.git
        writeBranch: main
        fileUpdates:
          - path: apps/eu-central-1-dev/reference-service-go.yaml
            yaml:
              - op: replace
                path: $[0].spec.sources[0].targetRevision
                valueFrom:
                  helm:
                    repoURL: ghcr.io/monkescience/helm-charts
                    chart: reference-service-go
                    attribute: Version
        commitMessageTemplate: |
          chore(kargo): promote reference-service-go chart to {{ .HelmVersion }} (dev)
  autoPromotionEnabled: true
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: reference-service-go
spec:
  subscriptions:
    - chart:
        repoURL: oci://ghcr.io/monkescience/helm-charts/reference-service-go
        semverConstraint: '>= 0.0.0'
#    - git:
#        repoURL: https://github.com/monkescience/reference-service-go.git
#        commitSelectionStrategy: SemVer
#        semverConstraint: '>= 0.0.0'
#    - image:
#        repoURL: ghcr.io/monkescience/reference-service-go
#        imageSelectionStrategy: SemVer
#        semverConstraint: '>= 0.0.0'
#        platform: linux/arm64
